<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Document</title>
    </head>

<body>
    
<div id="about" >
    <h1>About</h1>
    <p>This system allows users to track and filter tick sightings across the UK between 2012 and 2024<p>
</div>


<div class="container">

  <div>
    <canvas id="myChart" style="height:25%; width:25%"></canvas>
  </div>

  <div>
    <h1>Filter 'sightings per location' by time</h1>

    <form action="/submit1" method="POST">
        <label for="start">From </label>
        <br>
        <input type="date" id="start" name="start" required>
        <br>
        <label for="end">To </label>
        <br>
        <input type="date" id="end" name="end" required>
        <br>
        <button type="submit">Change time period</button>
   </form>
  </div>

  <div>
    <canvas id="myChart2" style="height:25%; width:25%"></canvas>
  </div>

  <div>
    <h1>Filter 'sightings over time' by location</h1>
    <br>

    <form action="/submit2" method="POST">
    <label for="locations">Select location</label>
    <br>
    <select name="location" id="locations">
      <option value=All>All</option>
      <option value="Nottingham">Nottingham</option>
      <option value="Birmingham">Birmingham</option>
      <option value="Glasgow">Glasgow</option>
      <option value="Bristol">Bristol</option>
      <option value="London">London</option>
      <option value="Edinburgh">Edinburgh</option>
      <option value="Liverpool">Liverpool</option>
      <option value="Manchester">Manchester</option>
      <option value="Cardiff">Cardiff</option>
      <option value="Sheffield">Sheffield</option>
      <option value="Leicester">Leicester</option>
      <option value="Leeds">Leeds</option>
      <option value="Newcastle">Newcastle</option>
      <option value="Southampton">Southampton</option>
      </select>
      <br>
      <button type="submit">Change location</button>

      </form>
     





  </div>

<!---below is the code for an example graph for testing purposes --->
<script>

/* const xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
const yValues = [55, 49, 44, 24, 15];
const barColors = ["red", "green","blue","orange","brown"]; */

const xValues = JSON.parse('{{ xValues | tojson | safe }}');
const yValues = JSON.parse('{{ yValues | tojson | safe }}'); 
const barColors = JSON.parse('{{ barColors | tojson | safe }}');

const ctx = document.getElementById('myChart');

new Chart(ctx, {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    plugins: {
      legend: {display: false},
      title: {
        display: true,
        text: "Sightings per location",
        font: {size: 16}
      }
    }
  }
});

const xValues2 = JSON.parse('{{ xValues2 | tojson | safe }}');
const yValues2 = JSON.parse('{{ yValues2 | tojson | safe }}'); 

const ctz = document.getElementById('myChart2');

new Chart(ctz, {
  type: "line",
  data: {
    labels: xValues2,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "rgba(0,0,255,0.1)",
      data: yValues2
    }]
  },
  options: {
    plugins: {
      legend: {display:false},
      title: {
        display: true,
        text: "Sightings over time",
        font: {size:16}
      }
    }
  }
});

</script>

</body>
</html>