<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Document</title>
    </head>

<body>
    
<div id="about" >
    <h1>About</h1>
    <p>This system allows users to track and filter tick sightings across the UK<p>
</div>


<div class="container">

  <div>
    <canvas id="myChart" style="height:25%; width:25%"></canvas>
  </div>

  <div>
    <h1>Filter data</h1>

    <p>From </p>
    <input type="date" 
               id="start">
    <p>To</p>
        <input type="date" 
                id="end">
    <p></p>
    <button>Change time period</button>
   
  </div>

  <div>
    <canvas id="myChart2" style="height:25%; width:25%"></canvas>
  </div>

  <div>
    <h1>Filter data</h1>
  </div>

<!---below is the code for an example graph for testing purposes --->
<script>

/* const xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
const yValues = [55, 49, 44, 24, 15];
const barColors = ["red", "green","blue","orange","brown"]; */

const xValues = JSON.parse('{{ xValues | tojson | safe }}');
const yValues = JSON.parse('{{ yValues | tojson | safe }}'); 
const barColors = JSON.parse('{{ barColors | tojson | safe }}');

const ctx = document.getElementById('myChart');

new Chart(ctx, {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    plugins: {
      legend: {display: false},
      title: {
        display: true,
        text: "World Wine Production 2018",
        font: {size: 16}
      }
    }
  }
});


const ctz = document.getElementById('myChart2');

new Chart(ctz, {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    plugins: {
      legend: {display: false},
      title: {
        display: true,
        text: "World Wine Production 2018",
        font: {size: 16}
      }
    }
  }
});

</script>

</body>
</html>