:root {
    --darkBlue: #0077b6;
    --lightBlue: #90e0ef;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.section {
    display: flex;
    align-items: center;
}

.one, .three {background-color: var(--darkBlue) ; flex:1;}
.two {background-color: var(--lightBlue); flex:2;}
