:root {
    --darkBlue: #90e0ef;
    --lightBlue: #caf0f8;
}

body {
    background-color: var(--darkBlue)
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: var(--darkBlue);
  padding: 20px;
  height: 80vh;
  gap: 20px;

}

.container div {
  background-color: #caf0f8;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  border-radius: 10px
}

#about {
    height: 10vh;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

