:root {
    --darkBlue: #90e0ef;
    --lightBlue: #caf0f8;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.section {
    display: flex;
    align-items: center;
}

.one {background-color: var(--darkBlue) ; flex:2;}
.two {background-color: var(--lightBlue); flex:2;}
.three {background-color: var(--darkBlue) ; flex:1;}
